*{
    margin: 0;
    padding: 0;
    color: #fff !important;
}
*{
    margin: 0;
    padding: 0;
    color: #fff !important;
}
.navbar{
    background-color: #BE3144;
}
.navbar .navbar-nav a{
    font-size: 20px;
}
.navbar .navbar-nav a:hover{
    background-color: black;
}
#welcome-section{
    background-color: #313336;
    padding-top: 60px;
    padding-bottom: 100px;
}
#welcome-section h1{
    font-weight: bold;
    font-size: 50px;
}
#welcome-section p{
    color: #BE3144 !important;
    font-size: 30px;
}
#projects{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #45567D;
}
.line{
    background-color: #fff;
    padding: 1px;
    width: 60%;
    text-align: center;
}
@media (max-width:767px){
    .line{
        width: 95%;
    }
}



#work{
    background-color: #303841;
    padding-top: 100px;
    padding-bottom: 150px;
}
footer{
    background-color: #303841;
    padding: 50px;
}